<div class="container-fluidp-0" style="margin: 0%;">
    <div class="row d-block ">
        <div class="col-md-12 col-12 d-sm-flex d-block p-0">
            <div class="col-sm-6 grad paddingtandbonmoile" style="background-color: #273584;">
                <div class="col-12 p-0 verticle-center d-flex">
                    <div class="col-10 d-block p-0 ">
                        <div class="col-12 p-0">
                            <img src="../../../assets/logos/logo_white.png" style="height:calc(var(--font-xxx-large)*2);" class="img-fluid" alt="">
                        </div>
                        <div class="col-12 p-0">
                            <p class="phead1">Plan Less. Live More.</p>
                        </div>
                        <div class="col-12 d-md-flex d-block p-0 conmob3">
                            <div class="col-md-6 horizontal-center bgblack mgb1 mt-2">
                                <div class="col-md-12 vertical-center">
                                    <div class="col-md-3" style="justify-content: end;display: flex;width: fit-content;margin-right: 3%;">
                                        <i class="fa fa-apple apple" style="color:white;"></i>
                                    </div>
                                    <div class="col-md-9 d-flex" style="justify-content: end;display: flex;text-align: center;width: fit-content;">
                                        <div class="d-block" style="width: fit-content;justify-content: end;">
                                            <p class="pdesc" style="font-size: calc(var(--font-medium)*0.65)">Available on the</p>
                                            <p class="pdesc1">Apple Store</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 horizontal-center bgblack mgb2 mt-2">
                                <div class="col-md-12 vertical-center">
                                    <div class="col-md-3" style="justify-content: end;display: flex;width: fit-content;margin-right: 3%;">
                                        <i class="fab fa-google-play fb" style="color:white;"></i>
                                    </div>
                                    <div class="col-md-9 d-flex" style="justify-content: end;display: flex;text-align: center;width: fit-content;">
                                        <div class="d-block" style="width: fit-content;justify-content: end;">
                                            <p class="pdesc" style="font-size: calc(var(--font-medium)*0.65)">Available on the</p>
                                            <p class="pdesc1">Google Play</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 paddingtandbonlaptop" style="background-color: #ffff;">
                <div class="col-12 p-0 verticle-center d-flex">
                    <div class="col-10 d-block p-0 " style="width: fit-content;">
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">Our Cities</a></p>
                        </div>
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">Our Hotels</a></p>
                        </div>
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">About</a></p>
                        </div>
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">Career</a></p>
                        </div>
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">Hotel Partners</a></p>
                        </div>
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">Support</a></p>
                        </div>
                        <div class="col-12  p-0">
                            <p class="pdesc1 linkclr"><a href="">FAQ</a></p>
                        </div>
                        <div class="col-12 mt-3 p-0">
                            <p class="linkclr" style="font-size: calc(var(--font-medium)*0.8);">We're social</p>
                        </div>
                        <div class="col-12 mt-1 d-flex p-0">
                            <div class="col-2 d-block" style="width: fit-content;">
                                <div class="rounded">
                                    <a href="#" class="fa fa-facebook" style="font-size: 29px;"></a>
                                </div>
                            </div>
                            <div class="col-2 d-block" style="width: fit-content;">
                                <div class="rounded" >
                                    <a href="#" class="fa fa-instagram" style="font-size: 29px;"></a>
                                </div>
                            </div>
                            <div class="col-2 d-block" style="width: fit-content;">
                                <div class="rounded">
                                    <a href="#" class="fa fa fa-twitter" style="font-size: 29px;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12 d-sm-flex d-block p-0 vertical-center">
            <div class="col-12 col-sm-6 d-flex mt-2 conmob2">
                <img class="nav-bar-logo img-fluid" src="../../../assets/logos/logo_white.png">
            </div>
            <div class="col-12 col-sm-6 d-flex conmob mt-2">
                <p style="font-size: calc(var(--font-medium)*0.55); color: #A9A9A9;">© 2022 HotelTonight. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>