<div class="container-fluid p-0" style="margin: 0%;">
    
    <div class="row bkimg">
        <div class="nav-bar" style=" background-color: rgba(0, 0, 0, 0.3);">
            <img class="nav-bar-logo" src="../../../assets/logos/logo_white.png">
        </div>
        <div class="col-12 margins d-block" style=" background-color: rgba(0, 0, 0, 0.3);" >
            <p class="phead" style="color: white;text-align: center;margin-top: 0px;">Elevate your travel experience with Us</p>
            <p class="pdesc" style="color: white;text-align: center;margin-top: 18px;">BOOK LOW COST PREMIUM HOTELS ALL AROUND THE WORLD.</p>
            <p class="pdesc" style="color: white;text-align: center;margin-top: 18px;">We encourage all travelers to read this update on how COVID-19 may affect travel and our cancellation policy.</p>
        </div>
    </div>
    <div class="row grad">
        <div class="col-12 pt-2 pb-2 pb-sm-5">
            <p class="phead1 px-5" style="color: white;text-align: center;">Hotel Donkey for every occasion</p>
        </div>
        <div class="col-12 d-flex p-2 pt-2 pb-2 px-sm-5" style="flex-wrap: wrap; justify-content: space-between;">
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/Icon awesome-glass-martini-alt.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4 ">
                    <div class="pdesc1" style="text-align: center;">
                        Book your stay with us, and you’ll be happy to come back.
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/Icon material-timer.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        We live for vacationers and travelers who love a good deal, fun, and adventure.
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/calendar-date.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        We’re here to make sure your vacation starts the second you step foot in our lobby
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/Icon awesome-glass-martini-alt.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        Happy hour is never just an hour. From basic to luxe, book where the night takes you.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row grad1">
        <div class="col-12 p-2 px-sm-5 pt-2 pb-2 d-sm-flex d-block vertical-center">
            <div class="col-12 col-sm-6 d-block app-box">
                <div class="col-12">
                    <p class="phead1" style="color: white;text-align: start;">Want personalized experience? Try our app.</p>
                </div>
                <div class="col-12 mt-2">
                    <p class="pdesc1" style="color: white;text-align: start;">Book the room anywhere in the world in just few clicks, using our app available both on Play Store and App Store</p>
                </div>
                <div class="col-12 mt-4 mb-3 d-flex vertical-center" style="justify-content: space-between;">
                    <div class="col-6 col-sm-6 d-block">
                        <div class="col-12 verticle-center" style="height: fit-content;">
                            <img style="width: 100%;height: auto;max-width: 120px; max-height: 120px; display: flex;" src="../../../assets/images/app-store-png-logo-33112.png" class="img-fluid pd" alt="">
                        </div>
                        <div class="col-12 mt-2">
                            <p class="pdesc1" style="color: white;text-align: center;">App Store</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 d-block">
                        <div class="col-12 verticle-center" style="height: fit-content;">
                            <img style="width: 100%;height: fit-content;max-width: 120px; max-height: 120px;display: block;" src="../../../assets/images/google-play-png-logo-3800.png" class="img-fluid pd" alt="">
                        </div>
                        <div class="col-12 mt-2">
                            <p class="pdesc1" style="color: white;text-align: center;">Play Store</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 col-sm-6 d-flex">
                <div class="col-12 d-block">
                    <div class="col-12 mt-3 d-flex" style="justify-content: center;" >
                        <!-- <img style="width: auto;height: fit-content;max-height: 220px;display: block;margin-right: 10px;" src="../../../assets/images/Search-Results.png" class="img-fluid" alt="">
                        <img style="width: auto;height: fit-content;max-height: 220px;display: block;" src="../../../assets/images/Like.png" class="img-fluid" alt=""> -->
                        <img style="width: auto;height: fit-content;max-height: 450px;display: block;" src="../../../assets/images/Ivory___Green_Minimalist_Phone_Mockup_Mood_Board_Beauty_Pinterest_Pin-removebg-preview.png" class="img-fluid" alt="">

                    </div>
                    <div class="col-12 mt-4 d-flex" style="justify-content: center;" >
                        <button style="background-color: #000A3D;color: white;padding:8px 82px">GET APP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row grad">
        <div class="col-12 p-5 pt-2 pb-2">
            <p class="phead1" style="color: white;text-align: start;">Yes, Yes, We are there</p>
        </div>
        <div class="col-12 p-5 pt-0 pb-2">
            <p class="pdesc1" style="color: white;text-align: start;">We’ve got you covered with amazing deals at thousands upon thousands of top hotels in cities & countries worldwide, including:</p>
        </div>
        <div class="col-12 p-5 pt-2 pb-2 d-flex" style="flex-wrap: wrap;">
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Paris,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">New York,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Rome,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">London,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Tokyo,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Lisbon,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Barcelona,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Honolulu,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Istanbul,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Bangkok,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Bali,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;"> New Orleans,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;"> Kerry,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Marrakesh,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Sydney,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Maldives,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Paris,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Cape Town,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Dubai,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Bora Bora,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Dubrovnik,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Edinburgh,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Rome,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Paro Valley,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Jaipur,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Waikato,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Havana,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Tokyo,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Antarctica,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Vancouver,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Los Angeles,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Kruger ,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Santorini,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Moscow,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Singapore,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Rio de Janeiro,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Petra,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Hong Kong,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Barbabos,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Amsterdam,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Santiago,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Cairo,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Copenhagen,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Seoul,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Laucala ,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Providencia,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Machu Picchu,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">irunga National Park,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Lisbon,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Hanoi,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Hawaii,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Ibiza,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Beijing,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Budapest,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Cinque Terre,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Buenos Aires,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Matterhorn,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Dubai,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Kuala Lumpur,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Antalya,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Shenzhen,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Phuket,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Tokyo,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Seoul,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Agra,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Shanghai,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Barcelona,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Los Angeles,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Milan,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Vienna,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Cancún,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Berlin,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Cairo,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Orlando,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Moscow,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Dublin,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Toronto,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Johannesburg,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Sydney,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Budapest,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Lisbon,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Vancouver,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Auckland,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Muğla,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Chiba,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Stockholm,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Abu Dhabi,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Mexico City,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Montreal,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">	Tehran,</p>
            </div>
        </div>
    </div>



</div>