<div class="container-fluid p-0" style="margin: 0%;">
    
    <div class="row bkimg">
        <div class="nav-bar" style=" background-color: rgba(0, 0, 0, 0.3);">
            <img class="nav-bar-logo img-fluid" src="../../../assets/logos/logo_white.png">
        </div>
        <div class="col-12 margins d-block" style=" background-color: rgba(0, 0, 0, 0.3);" >
            <p class="phead" style="color: white;text-align: center;margin-top: 0px;">Incredible last-minute hotel deals</p>
            <p class="pdesc" style="color: white;text-align: center;margin-top: 18px;">SAVE TIME AND MONEY BY BOOKING TONIGHT AND BEYOND.</p>
            <p class="pdesc" style="color: white;text-align: center;margin-top: 18px;">We encourage all travelers to read this update on how COVID-19 may affect travel and our cancellation policy.</p>
        </div>
    </div>
    <div class="row grad">
        <div class="col-12 pt-2 pb-2">
            <p class="phead1 px-5" style="color: white;text-align: center;">Hotel Donkey for every occasion</p>
        </div>
        <div class="col-12 d-flex p-2 pt-2 pb-2 px-sm-5" style="flex-wrap: wrap; justify-content: space-between;">
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/Icon awesome-glass-martini-alt.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        Happy hour is never just an hour. From basic to luxe, book where the night takes you.
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/Icon material-timer.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        Happy hour is never just an hour. From basic to luxe, book where the night takes you.
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/calendar-date.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        Happy hour is never just an hour. From basic to luxe, book where the night takes you.
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 p-3 pt-0 d-block">
                <div class="col-12 d-flex verticle-center" style="height: auto;">
                    <div class="col-sm-4 col-3" style="height: fit-content;">
                        <img  src="../../../assets/images/Icon awesome-glass-martini-alt.png" class="img-fluid images" alt="">
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="pdesc1" style="text-align: center;">
                        Happy hour is never just an hour. From basic to luxe, book where the night takes you.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row grad1">
        <div class="col-12 p-2 px-sm-5 pt-2 pb-2 d-sm-flex d-block vertical-center">
            <div class="col-12 col-sm-6 d-block app-box">
                <div class="col-12">
                    <p class="phead1" style="color: white;text-align: start;">On the go? Get the app.</p>
                </div>
                <div class="col-12 mt-2">
                    <p class="pdesc1" style="color: white;text-align: start;">Want more exclusive rates and features? Yes, yes you do. They’re all available in our top-rated app.</p>
                </div>
                <div class="col-12 mt-4 mb-3 d-flex vertical-center" style="justify-content: space-between;">
                    <div class="col-6 col-sm-6 d-block">
                        <div class="col-12 verticle-center" style="height: fit-content;">
                            <img style="width: 100%;height: auto;max-width: 120px; max-height: 120px; display: flex;" src="../../../assets/images/app-store-png-logo-33112.png" class="img-fluid pd" alt="">
                        </div>
                        <div class="col-12 mt-2">
                            <p class="pdesc1" style="color: white;text-align: center;">App Store</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 d-block">
                        <div class="col-12 verticle-center" style="height: fit-content;">
                            <img style="width: 100%;height: fit-content;max-width: 120px; max-height: 120px;display: block;" src="../../../assets/images/google-play-png-logo-3800.png" class="img-fluid pd" alt="">
                        </div>
                        <div class="col-12 mt-2">
                            <p class="pdesc1" style="color: white;text-align: center;">Play Store</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 col-sm-6 d-flex">
                <div class="col-12 d-block">
                    <div class="col-12 mt-3 d-flex" style="justify-content: center;" >
                        <!-- <img style="width: auto;height: fit-content;max-height: 220px;display: block;margin-right: 10px;" src="../../../assets/images/Search-Results.png" class="img-fluid" alt="">
                        <img style="width: auto;height: fit-content;max-height: 220px;display: block;" src="../../../assets/images/Like.png" class="img-fluid" alt=""> -->
                        <img style="width: auto;height: fit-content;max-height: 450px;display: block;" src="../../../assets/images/Ivory___Green_Minimalist_Phone_Mockup_Mood_Board_Beauty_Pinterest_Pin-removebg-preview.png" class="img-fluid" alt="">

                    </div>
                    <div class="col-12 mt-4 d-flex" style="justify-content: center;" >
                        <button style="background-color: #000A3D;color: white;padding:8px 82px">GET APP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row grad">
        <div class="col-12 p-5 pt-2 pb-2">
            <p class="phead1" style="color: white;text-align: start;">Here, there, everywhere</p>
        </div>
        <div class="col-12 p-5 pt-0 pb-2">
            <p class="pdesc1" style="color: white;text-align: start;">We’ve got you covered with amazing deals at thousands upon thousands of top hotels in cities & countries worldwide, including:</p>
        </div>
        <div class="col-12 p-5 pt-2 pb-2 d-flex" style="flex-wrap: wrap;">
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
            <div class="col-sm-3 col-6">
                <p class="pdesc" style="color: white;text-align: start;">Texas,</p>
            </div>
        </div>
    </div>



</div>


<app-footer></app-footer>